<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.transistorsoft.backgroundgeolocation.react">

    <application
      android:name=".MainApplication"
      android:allowBackup="true"
      android:label="@string/app_name"
      android:icon="@mipmap/ic_launcher"
      android:theme="@style/AppTheme">


      <activity
        android:name=".MainActivity"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
        android:label="@string/app_name">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>

      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />

        <service android:name="com.mapbox.mapboxsdk.telemetry.TelemetryService"/>

      <!-- background-location 1 of 2 -->
      <service android:name="com.transistorsoft.locationmanager.BackgroundGeolocationService" />
      <service android:name="com.transistorsoft.locationmanager.LocationService" />
      <service android:name="com.transistorsoft.locationmanager.ActivityRecognitionService" />
      <service android:name="com.transistorsoft.locationmanager.geofence.GeofenceService" />
        <service android:name="com.transistorsoft.locationmanager.scheduler.ScheduleService" />
        <service android:name="com.transistorsoft.locationmanager.scheduler.ScheduleAlarmService" />

        <receiver android:enabled="true" android:exported="false" android:name="com.transistorsoft.locationmanager.BootReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- /background-location -->

        <uses-library android:name="com.google.android.maps" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCx44mBvcd9vOgrRdqw0-ZhwwFJFh4sXDM"/>

    </application>

    <!-- background-geolocation 2 of 2 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <!-- /background-geolocation -->
</manifest>
